.App {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #282c34;
    margin: 0;
}

    nav ul li {
        margin-right: 20px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            padding: 10px 15px;
        }

            nav ul li a:hover {
                background-color: #61dafb;
                border-radius: 5px;
            }

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

    form label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    form input {
        margin-bottom: 15px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    form button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #282c34;
        color: white;
        font-size: 1rem;
        cursor: pointer;
    }

        form button:hover {
            background-color: #61dafb;
        }

h2 {
    color: #282c34;
}

p {
    color: #282c34;
}
